.progress {
  position: absolute;
  left: 48%;
  top: 10%;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.search{
  display: flex;
  justify-content: space-around;
}
body {
  background-size: 400% 400%;
  padding: 50px;
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 80vw;
  min-height: 30vh;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px;
  margin: 50px;
  margin-top: 100px;
  padding-top: 50px;
}
.add-btn {
  border: none;
  background-image: linear-gradient(
    to left bottom,
    #00b2ff,
    #00cfff,
    #00e8ff,
    #5bfff4
  );
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.h {
  font-weight: bold;
}
.col {
  width: 20%;
}
.item {
  display: flex;
  flex-direction: row;
  border-bottom: 2px dotted dimgrey;
}
.h div {
  cursor: pointer;
}
.add {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  visibility: hidden;
}
.btn-wrapper{
width: 500px;
display: flex;
justify-content: space-around;
}
.data-btn{
  width: 150px;
  height: 30px;
  border: none;
  background-color: #aa8fd8;
  border-radius: 15px;
  box-shadow: 0 0 5px; 
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}
.data-btn:hover{
  background-color: #d16ba5;
}